<div class="container">

  <h1>ABOUT</h1>


  <h3>What are the use cases for Subvixen?</h3>
  <p class="plain-text">Your effect is visually or mathematically intricate.</p>
  <p class="plain-text">Your effect is spatially aware.</p>
  <p class="plain-text">You don't think in code.</p>
</div>
