<div class="container">

  <h1>ABOUT</h1>

  <div class="about-container">
    <h3 class="about">When would I use Subvixen?</h3>
    <p class="plain-text">Subvixen was designed for pixel-mapping applications, the most obvious of which is programming collections of LEDs.</p>
    <p class="plain-text">Some reasons you might find yourself wanting to use pixel-mapping:</p>
    <ul>
      <li class="plain-text">Your effect is visually or mathematically intricate.</li>
      <li class="sub-point">You might want an effect that is very complex, random or hard to code... but easy to represent (or already exists) as a video.</li>
      <li class="plain-text">Your effect is spatially aware.</li>
      <li class="sub-point">You might want to achieve effects like chases that respond correctly to the real-world spacing of your LEDs, but it could be complex or inflexible to write your code taking into account irregular spacing.</li>
      <li class="plain-text">You don't think in code.</li>
      <li class="sub-point">It might be quicker for you to make a video than it is to write code.</li>
    </ul>


    <h3 class="about">What are the limitations of Subvixen?</h3>
    <p class="plain-text">Subvixen is currently generating code for:
      <ul>
        <li class="sub-point">Neopixel LEDs and the Arduino IDE</li>
        <li class="sub-point-white">However, the lookup table generated within the code could easily be pulled out and used in other implementations.</li>
      </ul>
    </p>
    <p class="plain-text">Subvixen has been tested on:
      <ul>
        <li class="sub-point">Chrome 63+, Firefox 57+, Safari 10+ and iOS Safari 11+</li>
        <li class="sub-point-white">But please go for it and try it out if you're on a different browser.</li>
      </ul>
    </p>
    <p>Microcontroller memory:
      <ul>
        <li class="sub-point-white">Subvixen is currently generating uncompressed lookup tables, with 24-bit RGB color values. Depending on your microcontroller's memory, the memory capacity might be too small for your effect. As an example, on an Adafruit Flora you could store approx 15 seconds worth of unique values for 20 LEDs before the memory is full.<br />
        Future Subvixen updates will implement compression.</li>
      </ul>
    </p>
  </div>
</div>
