<div class="container">
  <h1>subVIXEN</h1>
  <h2>visual code generator</h2>

  <div class="container">
    <p class="plain-text">To get started...</p>
    <ul class="option-container">
      <li class="link-xlge link-bigger-left"><%= link_to 'I want to upload a video', new_video_path %>
      <li class="link-xlge"><%= link_to 'Choose from video library', videos_path %>
    </ul>
  </div>





</div>
