<div class="container">
  <h1 class="heading-home">SUBVIXEN</h1>
  <h2 class="subheading-home plain-text">Generate code from video using pixel mapping</h2>
  <br />
  <!-- <div class="inner-container"> -->
    <p class="plain-text">To get started...</p>
    <ul class="option-container">
      <li class="link-xlge link-bigger-left"><%= link_to 'I want to upload a video', new_video_path %>
      <li class="link-xlge"><%= link_to 'Choose from video library', videos_path %>
    </ul>
  <!-- </div> -->





</div>
