<div class="stage-container">

  <div class="stage-main">
    <h2>STAGE</h2>
    <video id="stage-video" muted crossOrigin="anonymous">
      <!-- TODO add poster frame -->
      <source src="<%= @video.transform_sml_url %>">
    </video>
    <canvas id="stage-canvas"></canvas>
    <div class="video-controls">
        <button class="transport" id="play">PLAY</button>
        <button class="transport" id="pause">PAUSE</button>
        <button class="transport" id="loop">LOOP</button>
    </div>
    <button class="button-lge" id="generate">Generate</button>
    <canvas id="sim-canvas"></canvas>
    <h2>FIXTURES</h2>
    <div id="fixtures-main">
    </div>
  </div>


  <div class="code-main">
    <h2>CODE</h2>
    <div class="code-display" id="lut">

    </div>
  </div>

</div>
