<div class="stage-container">

  <div class="stage-main">
    <h1>STAGE</h1>
    <video id="stage-video" muted crossOrigin="anonymous">
      <!-- TODO add poster frame -->
      <source src="<%= @video.transform_sml_url %>">
    </video>
    <canvas id="stage-canvas"></canvas>
    <div class="video-controls">
        <button class="transport" id="play">PLAY</button>
        <button class="transport" id="pause">PAUSE</button>
        <button class="transport" id="loop">LOOP</button>
    </div>
    <button class="button-lge">Generate</button>
    <canvas id="sim-canvas"></canvas>
  </div>


  <div class="code-main">
    <div class="code-display">

    </div>
  </div>

</div>
