<div class="stage-container">
  <h1>STAGE</h1>


  <video id="stage-video" controls muted>
    <source src="<%= @video.transform_sml_url %>">
  </video>
  <canvas id="stage-canvas"></canvas>
  <canvas id="sim-canvas"></canvas>



</div>
