let lutString = "";
const pixelsPerLine = 5;
// let pixelCount = 0;


const hexToRGB = function( hex ) {
  const red = +("0x" + hex.slice(1, 3));
  const green = +("0x" + hex.slice(3, 5));
  const blue = +("0x" + hex.slice(5, 7));
  return "{" + red + ", " + green + ", " + blue + "}, ";
};



const stringifyLUT = function() {
  lutString = "const uint8_t fx[totalFixtures][totalFrames][3] PROGMEM = {<br />"; // reinit to starting string
  lut.forEach((fixture, i) => {
    lutString += `&nbsp;<span class="comment">// fixture ${ i + 1 }</span><br />&nbsp;{`;

    fixture.forEach((pixel, i) => {
      if (i % pixelsPerLine === 0) {
        lutString += "<br />&nbsp;&nbsp;";
      }
      lutString += hexToRGB( pixel );
    });

    lutString += "<br />&nbsp;},<br />";
  });
  lutString += "};";
};






const displayLUT = function() {
  $('#lut').empty(); // clear previous code
  const lutNode = $(`<p class=code>${ lutString }</p>`).hide().fadeIn(1000);
  lutNode.appendTo('#lut');


};
