let lutString = "";
const pixelsPerLine = 5;
// let pixelCount = 0;


const hexToRGB = function( hex ) {
  const red = +("0x" + hex.slice(1, 3));
  const green = +("0x" + hex.slice(3, 5));
  const blue = +("0x" + hex.slice(5, 7));
  return "{" + red + ", " + green + ", " + blue + "}, ";
};



const stringifyLUT = function() {
  // reinit string to empty
  lutString = "";

  // add decl for total fixtures and total frames
  lutString += `const uint16_t totalFixtures = ${ lut.length };<br />`
  lutString += `const uint16_t totalFrames = ${ lut[0].length };<br />`;
  lutString += `<br />`;
  // begin pixel print
  lutString += "const uint8_t fx[totalFixtures][totalFrames][3] PROGMEM = {<br /><br />";

  lut.forEach((fixture, i) => {
    lutString += `&nbsp;<span class="comment">// fixture ${ i + 1 }</span><br />&nbsp;{`;


    fixture.forEach((pixel, i) => {
      if (i % pixelsPerLine === 0) {
        lutString += "<br />&nbsp;&nbsp;";
      }
      lutString += hexToRGB( pixel );
      if (i % fps === ( fps - 1 ) && i !== 0) {
        lutString += `<br />&nbsp;&nbsp;<span class="comment">// ${ (i + 1) / 25 }s elapsed</span><br />&nbsp;&nbsp;`;
      }
    });


    lutString += "<br />&nbsp;},<br /><br />";
  });
  lutString += "};";
};






const displayLUT = function() {
  $('#lut').empty(); // clear previous code
  const lutNode = $(`<p class=code>${ lutString }</p>`).hide().fadeIn(1000);
  lutNode.appendTo('#lut');


};
