// Generic styling


$off-white: #fdfdfd;
$dark-grey: #292929;
$highlight: #FFE29D;


* {
  // border: 1px solid pink;
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  // font-family: Inconsolata, sans-serif;
  font-size: 16px;
  background-color: $dark-grey;
  color: $off-white;
  letter-spacing: 2px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
}


button {
  border-radius: 0;
  border-style: none;
  margin: 1rem 0;
  text-transform: uppercase;
  background-color: $off-white;
  font-size: 0.8rem;
}


.on {
  color: $highlight !important;
}
