// Generic styling


$off-white: #fdfdfd;
$dark-grey: #292929;
$highlight: #FFE29D;

$nav-height: 3rem;

* {
  // border: 1px solid pink;
  box-sizing: border-box;
}



.container {
  padding: 2rem;
}

.inner-container {
  padding: 3rem;
}

body {
  font-family: Avenir, sans-serif;
  // font-family: Inconsolata, sans-serif;
  font-size: 16px;
  background-color: $dark-grey;
  color: $off-white;
  letter-spacing: 2px;
}

@media only screen and (max-width: 500px) {
  body {
    // background-color: red;
  }
}

nav {
  height: $nav-height;
  background-color: lighten( $dark-grey, 10%);
  margin-bottom: 2rem;
}

.logo {
  padding: 0 0.2rem 0 2rem;
  color: $dark-grey;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -2px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
}


button {
  border-radius: 0;
  border-style: none;
  margin: 1rem 0;
  text-transform: uppercase;
  background-color: $off-white;
  font-size: 0.8rem;
}


.on {
  color: $highlight !important;
}

a {
  text-decoration: none;
  color: $off-white;
}

a:hover {
  color: $highlight;
}

.plain-text {
  letter-spacing: 1px;
}

.emphasize {
  text-transform: uppercase;
  color: $highlight;
}

.list-spaced {
  padding: 1rem;
}

.link-xlge {
  @extend a;
  flex: 1;
  text-transform: uppercase;
  font-size: 1.8em;
  align-self: center;
  text-align: center;
  padding: 5rem;
  list-style: none;
  margin: 0;
}

.link-bigger-left {
  border: 1px solid lighten( $dark-grey, 10% );
  border-top: none;
  border-bottom: none;
  border-left: none;
}



.option-container {
  // display: table;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid lighten( $dark-grey, 10% );
}

.soon {
  @extend .plain-text;
  color: $highlight;
  text-transform: uppercase;
  font-size: 1rem;
}

.flex-container {
  display: flex;
}

.flex-large {
  flex: 12;
  line-height: $nav-height;
}

.about-right {
  text-align: right;
  line-height: $nav-height;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}
