/////////      Variables     ////////

@import 'pages';

$height-stage-component: 900px;
$height-button: 2rem;
$padding-main: 32px;
$width-canvas: 360px;


/////////////////////////////////////////////////
//////////      STAGE SPECIFICS        //////////
/////////////////////////////////////////////////

.stage-container {
  max-width: 1200px; // TODO change back to 960 and make expanding arrow for code
  margin: 0 auto;
  display: flex;



  .stage-main {
    flex: 1;
    display: inline-block;
    min-height: $height-stage-component;
    padding: 0 $padding-main 2rem $padding-main;
  }

  video {
    display: none;
  }

  .video-controls{
    min-height: $height-button;
    background-color: rgba(0, 0, 0, 0.4);
    width: $width-canvas;
  }

  canvas {
    display: block;
    width: $width-canvas;
    margin-top: 1rem;
    background-color: black;
  }



  .button-lge {
    @extend button;
    width: $width-canvas;
    height: $height-button * 2;
  }

  button.transport {
    @extend button;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: $off-white;
  }





  #sim-canvas {
    background-color: black;
  }




  /////////////////////////////////////////////////
  //////////      CODE MAIN SECTION      //////////
  /////////////////////////////////////////////////

  .code-main {
    @extend .stage-main;
    flex: 3;
  }


  .code-display {
    background-color: rgba( $off-white, 0.1 );
    min-height: $height-stage-component - $padding-main;
    padding: 1rem;
  }


} // end stage-container




.code {
  font-family: Monaco, monospace;
  font-size: 0.6rem;
  color: $off-white;
  // transition: color 0.5s ease;
}

.controls {
  display: flex;
  margin-bottom: 1rem;
}

.flex-1 {
  flex: 1;
}

.copy-notice {
  align-self: center;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  color: $highlight;
}

button.button-med {
  @extend .transport;
  padding: 1rem;
  border: 1px solid lighten( $dark-grey, 10% );
  align-self: flex-end;
  margin: 0;
}


.comment {
  color: $highlight;
}


.f-param {
  width: 4rem;
  margin-right: 1.2rem;
  background-color: $dark-grey;
  color: $off-white;
  border: 1px solid lighten( $dark-grey, 10% );
}

.f-param:focus {
  background-color: $off-white;
  color: $dark-grey;
}

.generating {
  color: $highlight !important;
  background-color: $dark-grey !important;
}
