/////////      Variables     ////////

@import 'pages';

$height-stage-component: 900px;
$height-button: 2rem;
$padding-main: 32px;
$width-canvas: 360px;


/////////////////////////////////////////////////
//////////      STAGE SPECIFICS        //////////
/////////////////////////////////////////////////

.stage-container {
  max-width: 1200px; // TODO change back to 960 and make expanding arrow for code
  margin: 0 auto;
  display: flex;



  .stage-main {
    flex: 1;
    display: inline-block;
    min-height: $height-stage-component;
    padding: 0 $padding-main 2rem $padding-main;
  }

  video {
    display: none;
  }

  .video-controls{
    min-height: $height-button;
    background-color: rgba(0, 0, 0, 0.4);
    width: $width-canvas;
  }

  canvas {
    display: block;
    width: $width-canvas;
    margin-top: 1rem;
    background-color: black;
  }



  .button-lge {
    @extend button;
    width: $width-canvas;
    height: $height-button * 2;
  }

  button.transport {
    @extend button;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: $off-white;
  }



  #sim-canvas {
    background-color: black;
  }




  /////////////////////////////////////////////////
  //////////      CODE MAIN SECTION      //////////
  /////////////////////////////////////////////////

  .code-main {
    @extend .stage-main;
    flex: 3;
  }


  .code-display {
    background-color: rgba( $off-white, 0.1 );
    min-height: $height-stage-component - $padding-main;
    padding: 1rem;
  }


} // end stage-container




.code {
  font-family: Inconsolata, monospace;
  font-size: 0.8rem;
  color: $off-white;
  // opacity: 0;
  // transition: opacity 1s ease;
}

.comment {
  color: $highlight;
}
