.stage-container {
  video {
    // max-width: 480px;
    display: none;
  }
  canvas {
    box-sizing: border-box;
    border: solid lightgrey 1px;
    display: block;
    width: 360px;
    // height: 360px;
  }



  #sim-canvas {
    background-color: #222;
  }
}
