// ******** VIDEOS *************


@import 'pages';



fieldset {
  border: none;
}

label {
  display: inline-block;
  min-width: 100px;
}

.progress {
  display: none;
}

input[type="submit"] {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 2rem 0;
  display: inline-block;
  width: 20rem;
}


.nav-next {
  margin: 2rem 0;
  padding: 2rem;
  display: inline-block;
  max-width: 360px;
  text-align: center;
  border: 1px solid lighten( $dark-grey, 10% );
}

.video-lge {
  display: block;
}

.thumb-container {
  padding: 2rem;
  display: inline-block;
}

h5 {
  margin-top: 0.5rem;
  text-transform: uppercase;
}

#upload-errors {
  padding: 2rem 0;
}
