<div class="container rig-container">
  <h1>RIG MAP</h1>

  <p class="plain-text emphasize"><%= @rig.name %></p>
  <p>Note: You can adjust this rig after putting it on the stage</p>
  <canvas id="rig-show-canvas"></canvas>


  <a href="/rig" class="nav-next">Choose this rig</a>
</div>
